@helper HelperName(string name)
{
	
/*
	Any .cshtml file in the App_Code directory will not derive from WebViewPage but from HelperPage.
	Place all global helpers within this file.
	http://www.codeproject.com/Articles/635324/Another-set-of-ASP-NET-MVC-4-tips#tip-18
*/

/*
	 your helper can contain code and/or markup, e.g.
	 var msg = "Hello " + name;
	 <p>@msg</p>
	 For more information, visit http://go.microsoft.com/fwlink/?LinkID=204658
*/

}
