@model WebUI.Models.Article.EditArticleViewModel
@{
    ViewBag.Title = "Add New Article";
}

@Html.Partial("_Breadcrumb")

<section>
	<h1>Add New Article</h1>
	@{ Html.RenderPartial("_EditArticleForm"); }
</section>