@model MVC.WebUI.Models.Article.ArticleDetailsViewModel
@{
    ViewBag.Title = "Article";
}

<article>
    <header>
        <h1>@Model.Article.Title</h1>
        <dl>
            <dt>Last updated</dt>
            <dd>@Model.Article.LastUpdated.ToString("dd MMMM yyyy")</dd>
        </dl>
    </header>
    @Html.Raw(Model.Article.Content)
</article>

