@model MVC.WebUI.Models.Article.ArticleIndexViewModel
@{
    ViewBag.Title = "Articles";
}

<section>

    <h1>Articles</h1>

    @if (Model.Articles != null && Model.Articles.Any())
    {
        <ol>
            @foreach (var article in Model.Articles)
            {
                <li>
                    <article itemscope="itemscope" itemtype="http://schema.org/Article">
                        <h2 itemprop="name">@Html.ActionLink(article.Title, "Details", new { id = article.Id })</h2>
                    </article>
                </li>
            }
        </ol>
    }

</section>
