@{
	ViewBag.Title = "Error: File Upload Size Limit Exceeded";
}

<section class="alert error">
	<h1>File upload size limit exceeded</h1>
	<p>You have tried to upload a file that is too large. Generally files should be less than 4Mb in size. This limit may vary across different websites.</p>
</section>

@Html.Partial("_sitemap")
