@{
    ViewBag.Title = "Error: Access Not Permitted";
}

<section class="alert error">
	<h1>Access not permitted</h1>
	<p>You do not have permission to view this page. You will need to contact your adminstrator to grant you access rights.</p>
</section>

@Html.Partial("_sitemap")