@{
	ViewBag.Title = "Error: Page Not Found";
}

<section class="alert error">
	<h1>Page not found</h1>
	<p>The page you have been looking for may have been moved or deleted.</p>
	<p>You can try to find the page using the sitemap below. Or you can @Html.ActionLink("click here to return to the home page", "Index", "Home").</p>
</section>

@Html.Partial("_sitemap")
