<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<!--

DEFAULT SETTINGS FOR EMPTY MVC 5 PROJECT:

<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
-->




<!--
TO IMPROVE PERFORMANCE SET:
  compilation/@debug to False
  trace/@enabled to False
  customErrors/@mode to RemoteOnly
  anonymousIdentification/@enabled to False (enabled for use with Shopping Cart)
  pages/@enableSessionState = False

TO IMPROVE SECURITY SET:
  compilation/@debug="False"
  customErrors/@mode="RemoteOnly" or "On"
  forms/@cookieless="UseCookies"
  forms/@name - use a GUID to create a unique name
  forms/@protection="All"
  forms/@requireSSL="True"
  forms/@slidingExpiration="False"
  membership/@enablePasswordRetrieval="false"
  pages/@validateRequest="True" 
  httpCookies/@httpOnlyCookies="True"
  sessionState/@cookieless="UseCookies" 
  trace/@enabled="False"
  do not use hard-coded <credentials>
  user membership/providers settings to force users to use strong passwords
  encrypt connectionStrings
 
BUILDS:
  By design, the different builds only work when you are Publishing a website. In order to get them to work in Visual Studio you need to:
 
  1. Copy & paste the following right before closing "Project" tag of the .csproj file of the project that contains the web.config file:
 
  <UsingTask TaskName="TransformXml" AssemblyFile="$(MSBuildExtensionsPath)\Microsoft\VisualStudio\v10.0\Web\Microsoft.Web.Publishing.Tasks.dll" />
  <Target Name="BeforeBuild">
      <MakeDir Directories="obj\$(Configuration)" Condition="!Exists('obj\$(Configuration)')" />
      <TransformXml Source="Web.Config" Transform="Web.$(Configuration).config" Destination="obj\$(Configuration)\Web.config" StackTrace="true" />
  </Target>

  2. Copy & paste the following into the post-build event in the project properties of the project that contains the web.config file

  $(MSBUILDBINPATH)\msbuild "$(ProjectPath)" /t:Transform /p:Configuration=$(ConfigurationName);Platform=AnyCPU
  xcopy "$(ProjectDir)obj\$(ConfigurationName)\Web.Config" "$(ProjectDir)". /F /R /Y

URL MAPPING:
  If you want to map directories to a file (e.g. <add url="~/Test/" mappedUrl="~/help/contact.aspx"/>) then you will need to Configure IIS for Wildcard Extensions in ASP.NET (http://professionalaspnet.com/archive/2007/07/27/Configure-IIS-for-Wildcard-Extensions-in-ASP.NET.aspx)
  You will also need to add 2 versions - with and without a trailing slash: <add url="~/Test/" mappedUrl="~/help/contact.aspx"/> and <add url="~/Test" mappedUrl="~/help/contact.aspx"/>
-->

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WebsiteMvcDatabase" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\mvc-database.mdf;Initial Catalog=WebsiteMvcDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <!--timeout & slidingExpiration(?) is only valid for persistent cookies-->
      <forms loginUrl="~/admin/login" name="[USE GUID]" cookieless="UseCookies" requireSSL="false" protection="All" slidingExpiration="false" timeout="30" enableCrossAppRedirects="false" />
    </authentication>
    
    <membership defaultProvider="SimpleMembershipProvider">
      <providers>
        <clear />
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>
    
    <compilation debug="true" targetFramework="4.6" />
    <!--http://benfoster.io/blog/aspnet-mvc-custom-error-pages-->
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="~/errors/500.aspx">
      <error statusCode="404" redirect="~/errors/404.aspx"/>
      <error statusCode="500" redirect="~/errors/500.aspx"/>
    </customErrors>
    <!-- see: https://weblog.west-wind.com/posts/2014/Mar/27/Auto-Selecting-Cultures-for-Localization-in-ASPNET -->
    <globalization culture="auto:en-gb" uiCulture="auto:en-gb" />
    <httpCookies httpOnlyCookies="true" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <!-- WHAT WAS THIS SECTION ADDED BY ???? -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <!-- needed to override the custom error page mapping done by IIS7 itself -->
    <!--<httpErrors existingResponse="PassThrough" />-->
    
    <!--http://benfoster.io/blog/aspnet-mvc-custom-error-pages-->
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" />
      <error statusCode="404" subStatusCode="13" path="errors\404-13.html" responseMode="File" />
      <error statusCode="404" path="errors\404.html" responseMode="File" />
      <remove statusCode="500" />
      <error statusCode="500" path="errors\500.html" responseMode="File" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <!-- for Internet Explorer - forces the browser to use standards mode rather than compatibility mode-->
        <add name="X-UA-Compatible" value="IE=edge,chrome=1" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="CheckBrowserModule" type="MVC.WebUI.Modules.CheckBrowserModule" />
      <add name="ErrorModule" type="MVC.WebUI.Modules.ErrorModule" />
      <add name="SeoRedirectModule" type="MVC.WebUI.Modules.SeoRedirectModule" />
    </modules>
    <staticContent>
      <!--file registration needed for HTML5 Video in Firefox - NOT NEEDED WHEN USING II8+ -->
      <!--<mimeMap fileExtension=".webm" mimeType="video/webm"/>
              <mimeMap fileExtension=".ogg" mimeType="application/ogg"/>
              <mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
              <mimeMap fileExtension=".oga" mimeType="audio/ogg"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>-->
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <!-- alternative to using Database.SetInitializer(new DatabaseInitializer()) in Global.asax -->
    <!--<contexts>
      <context type="MVC.Core.Data.EntityFramework.NotePadDbContext, MVC.Core" disableDatabaseInitialization="true">
        <databaseInitializer type="MVC.Core.Testing.DatabaseInitializer, MVC.Core"/>
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
  </entityFramework>
</configuration>