<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-gb">
<head>
    <title>WebSite | Login Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" style="margin: 0; padding: 0;">

    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>

                <p>Hello ##FirstName##,</p>
                <p>Your new login details are as follows:</p>

                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>User Name:</th>
                        <td><% UserName %></td>
                    </tr>
                    <tr>
                        <th>Password:</th>
                        <td><% Password %></td>
                    </tr>
                </table>

                <p><strong>Important:</strong></p>
                <ul>
                    <li>In order to secure these details, <strong>you must log on and change your password</strong> in the 'Account Management' area as soon as you receive this message. <a href="http://www.WebSite.com/admin/change-password.aspx">Click here to log on and change your password</a>.</li>
                    <li>The password you choose should not be one that is likely to be guessed and should contain a mix of uppercase and lowercase letters, digits and special characters (e.g. r3$Wt>k5P]L%a) in order to achieve maximum security.</li>
                    <li>This password is confidential and should never be given to anyone else, not even to employees of WebSite.</li>
                </ul>
                <p>If you think that your security has been compromised and someone else has access to your user details, please contact us as soon as possible so that we may change them and help prevent fraud on your account.</p>

            </td>
        </tr>
    </table>

</body>
</html>
