@using MVC.WebUI.Helpers

@{
    ViewBag.Title = "My Account";
}

@Html.Breadcrumb()

<section>
    <h1>My Account</h1>

    @if (TempData["SuccessMessage"] != null)
    {
        <section class="alert success">
            <p>@TempData["SuccessMessage"]</p>
        </section>
    }

    <ul>
        <li>@Html.ActionLink("Change Password", "change-password")</li>
    </ul>
</section>
