@model MVC.WebUI.Models.Account.RequestPasswordViewModel
@{
    ViewBag.Title = "Request New Password";
}

<article>
	<h1>Request New Password</h1>

	@if (TempData["ResetPasswordFail"] != null)
	{
		<section class="alert error">
			<p>It looks like your reset password token is invalid or has expired. Try requesting a new token.</p>
			<p>If the problem persists, please contact technical support.</p>
		</section>
	}

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		<ol>
			<li>
				@Html.LabelFor(m => m.UserName)
				@Html.TextBoxFor(m => m.UserName, new { required = "required", autofocus = "autofocus" })
				@Html.ValidationMessageFor(m => m.UserName)
			</li>
		</ol>
		<button>Request New Password</button>
	}
</article>

