@{
	ViewBag.Title = "File Upload";
}

@*http://haacked.com/archive/2010/07/16/uploading-files-with-aspnetmvc.aspx/*@

<article>
	<h1>File Upload</h1>

	<form action="/example/file-upload" method="post" enctype="multipart/form-data">
		<label for="file">Filename:</label>
		<input type="file" name="file" id="file" />
		<button>Submit</button>
	</form>

	@if (ViewBag.File != null)
	{
		var file = (HttpPostedFileBase)ViewBag.File;
		<table>
			<thead>
				<tr>
					<th>File Name</th>
					<th>Mime Type</th>
					<th>File Size</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@file.FileName</td>
					<td>@file.ContentType</td>
					<td>@file.ContentLength</td>
				</tr>
			</tbody>
		</table>
	}
	
</article>
