@{
	ViewBag.Title = "Example";
}

<article>
	<h1>Examples</h1>
	<ul>
		<li>@Html.ActionLink("File Upload", "file-upload", "example")</li>
		<li>@Html.ActionLink("File Upload - Multiple", "file-upload-multiple", "example")</li>
		<li>@Html.ActionLink("FormData", "formdata", "example")</li>
	</ul>
</article>
