@model MVC.WebUI.Models.Home.HomeIndexViewModel
@{
//ViewBag.Title = Model.Page.Title;
//ViewBag.Description = Model.Page.Description;
//ViewBag.Keywords = Model.Page.Keywords;
}

<article>
    <h1>Home Page</h1>
</article>
