/*******************************************************************************************************************************/
/* BREADCRUMBS */
/*******************************************************************************************************************************/

/************************************************************************************************************************************************************************************/
/* Standard Breadcrumb */

.breadcrumb {
    padding: 0.5rem 0;
    text-transform: capitalize;

    li {
        position: relative;
        display: inline-block;
    }

    li::before {
        display: inline-block;
        margin: 0 8px;
        content: "";
        border: 5px solid transparent;
        border-right: none;
        border-left-color: black;
    }

    li:first-child::before {
        content: none;
    }
}
