/*******************************************************************************************************************************/
/* BUTTONS & LINKS */
/*******************************************************************************************************************************/

/*******************************************************************************************************************************/
/* 'Skip to Main Content' Link  */

a.skip {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    display: block;
    padding: 0.375rem;
    border: 1px solid #FFF;
    border-top: none;
    border-left: none;
    color: #FFF;
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 1s ease-out, background-color 1s linear;
    transition: transform 1s ease-out, background-color 1s linear;

    &:focus {
        background-color: #BF1722;
        outline: 0;
        transform: translateY(0);
    }
}




/************************************************************************************************************************************************************************************/
/* Menu Button */

.btn-menu {
    width: 1em;
    height: 1em;
    margin: 0;
    padding: 0;
    background: repeating-linear-gradient(0deg, #000, #000 20%, transparent 20%, transparent 40%);
    border: none;
    text-indent: -9999px;
}
