/*******************************************************************************************************************************/
/* FORMS */
/*******************************************************************************************************************************/


/*******************************************************************************************************************************/
/* STANDARD FORM */

.form {
    fieldset {

    }

    legend {

    }

    .label[for] {

    }

    /* <input type="text|email|url|tel"> */
    .text-field {

        &.textarea {
        }
    }

    input[type="checkbox"] {
    }

    input[type="radio"] {
    }

    select {

    }

    /* error messages */
    .error {

    }
}



/************************************************************************************************************************************************************************************/
/* Built-in ASP.NET MVC validation classes*/

.validation-summary-errors {
    margin: 1em 0;
    padding: 1em;
    border: 0.125em solid #CC0000;
    color: #000;
    font-size: 1rem;
    background-color: #FFEEEE;

    ul {
        margin: 0;
        padding-left: 2em;
        list-style: circle;
    }
}

.field-validation-error {
    color: #CC0000;
}
