/*******************************************************************************************************************************/
/* MESSAGES */
/*******************************************************************************************************************************/

/*******************************************************************************************************************************/
/* Alert Colours */
.ok {
    color: $ok-colour !important;
}

.warning {
    color: $warning-colour !important;
}

.error {
    color: $error-colour !important;
}

.bg-ok {
    /* set currentColor on the original element instead */
    /*border-color: currentColor !important;*/
    color: #FFF !important;
    background-color: $ok-colour !important;
}

.bg-warning {
    /* set currentColor on the original element instead */
    /*border-color: currentColor !important;*/
    color: #FFF !important;
    background-color: $warning-colour !important;
}

.bg-error {
    /* set currentColor on the original element instead */
    /*border-color: currentColor !important;*/
    color: #FFF !important;
    background-color: $error-colour !important;
}



/*******************************************************************************************************************************/
/* Alerts */

.alert {
    margin: 1em 0;
    padding: 0.8em 1em;
    border: 2px solid currentColor;
    font-size: 1rem;
    color: #000;
    background-color: #FFF;

    h1, h2, h3, h4 {
        margin: 0;
        font-size: 1.1em;
        font-weight: bold;
    }

    p {
        margin-top: 0.8em;
        margin-bottom: 0;
        line-height: 1.2;
    }

    p:first-child {
        margin-top: 0;
    }

    /* success alerts - shown when something has succeeded - e.g. when a form has been submitted properly, when an email has been sent successfully */
    &.ok {
        background-color: #EEFFEE;
    }

    /* success alerts - shown when something has succeeded - e.g. when a form has been submitted properly, when an email has been sent successfully */
    &.warning {
        background-color: #FFFACD;
    }

    /* error alerts - shown when something has failed - e.g. form validation, 404 error, etc. */
    &.error {
        background-color: #FFEEEE;
    }

    /* compact alert - puts all the text on to one line to save vertical space */
    &.compact {
        text-align: center;

        h1, h2, h3, h4, p {
            display: inline;
        }

        h1::after, h2::after, h3::after, h4::after {
            content: ": ";
        }
    }
}





/*******************************************************************************************************************************/
/* Badges */

.badge {
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2em;
    text-align: center;
    letter-spacing: 0;
    color: #FFF;
    background-color: #000;
    /* fixes vertical align for empty badges */
    &:empty::before {
        content: "X";
        visibility: hidden;
    }
}
