/*******************************************************************************************************************************/
/* MISCELLANEOUS */
/*******************************************************************************************************************************/

/*******************************************************************************************************************************/
/* Full Screen - simulates full screen mode for browser that do not support the JavaScript Fullscreen API */

.fullscreen {
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200 !important;
}

/*******************************************************************************************************************************/
/* Hide - accessible way of hiding items */

.hide {
    position: fixed;
    left: 100%;
}

