@{
	ViewBag.Title = "Server Error";
}

<section class="alert error">
    <h1>Server Error</h1>
    <p>There is a problem with the page you have chosen. It might be a temporary issue. Please try again.</p>
    <p>If you have entered any data into a form, please check this is correct before submitting.</p>
    <p>If the problem persists, <a href="/contact/technical-support">click here to contact technical support</a>.</p>
</section>
