@{
	ViewBag.Title = "Form Not Permitted";
}

<section class="alert error">
    <h1>Form Not Permitted</h1>
    <p>Your form submission has not been recognised as valid.</p>
    <p>This might simply be because your security token has expired. In which case, just go back and refresh the page you were on and the resubmit your details.</p>
    <p>If the problem persists, it might be because you have blocked cookies on your browser. Cookies are needed if you want to log in and may be required for other services. @Html.ActionLink("If you want to find out how to enable cookies, click here", "Cookies", "Help").</p>
    <p>If you have cookies enabled and continue to receive this error page, @Html.ActionLink("click here to contact technical support", "Index", "Contact").</p>
</section>
