@{
	ViewBag.Title = "HTML Not Allowed";
}

<section class="alert error">
    <h1>You cannot submit <abbr title="HyperText Markup Language">HTML</abbr></h1>
    <p>You cannot submit a form that contains <abbr title="HyperText Markup Language">HTML</abbr>. You will need to remove all <abbr title="HyperText Markup Language">HTML</abbr> formatting and send plain text only.</p>
</section>
