/***********************************************************************************************************************/
/* BACKGROUNDS */
/***********************************************************************************************************************/

@mixin gradient($startColour, $endColour, $startPercent: 0%, $endPercent: 100%) {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColour}', endColorstr='#{$endColour}', GradientType=0);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, $startColour $startPercent, $endColour $endPercent);
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, $startColour $startPercent, $endColour $endPercent);
    /* Opera */
    background-image: -o-linear-gradient(top, $startColour $startPercent, $endColour $endPercent);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(#{$startPercent / 100%}, $startColour), color-stop(#{$endPercent / 100%}, $endColour));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, $startColour $startPercent, $endColour $endPercent);
    /* W3C */
    background-image: linear-gradient(to bottom, $startColour $startPercent, $endColour $endPercent);
}



/***********************************************************************************************************************/
/* BORDERS */
/***********************************************************************************************************************/

@mixin border-radius($px) {
    /* Chrome 1-4, Safari 3.1-4 */
    @include pxtorem(-webkit-border-radius, $px);
    /* Firefox 2-3.6 */
    @include pxtorem(-moz-border-radius, $px);
    @include pxtorem(border-radius, $px);
}



/***********************************************************************************************************************/
/* BOX SHADOW */
/***********************************************************************************************************************/

@mixin shadow($x, $y, $blur, $colour) {
    -webkit-box-shadow: $x $y $blur $colour;
    -moz-box-shadow: $x $y $blur $colour;
    box-shadow: $x $y $blur $colour;
}

@mixin box-shadow ($string) {
    -webkit-box-shadow: $string;
    -moz-box-shadow: $string;
    box-shadow: $string;
}


/***********************************************************************************************************************/
/* BOX SIZING */
/***********************************************************************************************************************/
@mixin box-sizing($model: border-box) {
    -moz-box-sizing: $model;
    -webkit-box-sizing: $model;
    box-sizing: $model;
}



/***********************************************************************************************************************/
/* COLUMNS */
/***********************************************************************************************************************/
@mixin columns($columnCount, $columnGap) {
    -moz-column-count: $columnCount;
    -moz-column-gap: $columnGap;
    -webkit-column-count: $columnCount;
    -webkit-column-gap: $columnGap;
    column-count: $columnCount;
    column-gap: $columnGap;
}



/***********************************************************************************************************************/
/* FLEXBOX */
/***********************************************************************************************************************/

@mixin display-flex {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin flex-direction($value) {
    -webkit-flex-direction: $value;
    flex-direction: $value;
}

@mixin align-items($value) {
    -ms-flex-align: $value;
    -webkit-align-items: $value;
    align-items: $value;
}

@mixin flex($value) {
    -webkit-box-flex: $value; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: $value; /* OLD - Firefox 19- */
    -ms-flex: $value; /* IE 10 */
    -webkit-flex: $value; /* Chrome */
    flex: $value; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin order($value) {
    -webkit-box-ordinal-group: $value; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: $value; /* OLD - Firefox 19- */
    -ms-flex-order: $value; /* TWEENER - IE 10 */
    -webkit-order: $value; /* NEW - Chrome */
    order: $value; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}



/***********************************************************************************************************************/
/* FONTS */
/***********************************************************************************************************************/

@mixin font-face($font-family, $font-path, $font-weight: normal, $font-style: normal, $font-stretch: normal) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('#{$font-path}.eot');
        src: url('#{$font-path}.eot?#iefix') format('embedded-opentype'), url('#{$font-path}.woff') format('woff'), url('#{$font-path}.ttf') format('truetype'), url('#{$font-path}.svg##{$font-family}') format('svg');
        font-weight: $font-weight;
        font-style: $font-style;
        font-stretch: $font-stretch;
    }
}


/* PX TO PX + REM *****************************************************************************************************/
/*https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/*/

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@mixin rem($property, $values...) {
    $max: length($values);
    $pxValues: '';
    $remValues: '';

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $pxValues: #{$pxValues + $value};

        @if $value != 0 {
            $pxValues: #{$pxValues}px;
        }

        @if $i < $max {
            $pxValues: #{$pxValues + " "};
        }
    }

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $remValues: #{$remValues + $value/16};

        @if $value != 0 {
            $remValues: #{$remValues}rem;
        }

        @if $i < $max {
            $remValues: #{$remValues + " "};
        }
    }

    #{$property}: $pxValues;
    #{$property}: $remValues;
}



/* PX TO REM ONLY *****************************************************************************************************/

/*https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/*/

@mixin rem-only($property, $values...) {
    $max: length($values);
    $remValues: '';

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $remValues: #{$remValues + $value/16};

        @if $value != 0 {
            $remValues: #{$remValues}rem;
        }

        @if $i < $max {
            $remValues: #{$remValues + " "};
        }
    }

    #{$property}: $remValues;
}


/***********************************************************************************************************************/
/* FORMS */
/***********************************************************************************************************************/

@mixin placeholder($selector) {

    #{$selector}::-webkit-input-placeholder {
        @content;
    }
    /* Firefox 18- */
    #{$selector}:-moz-placeholder {
        @content;
    }
    /* Firefox 19+ */
    #{$selector}::-moz-placeholder {
        @content;
    }

    #{$selector}:-ms-input-placeholder {
        @content;
    }
}





/***********************************************************************************************************************/
/* HACKS */
/***********************************************************************************************************************/
@mixin hack-ie10 {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin hack-ie11 {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        *::-ms-backdrop, body {
            @content;
        }
    }
}



/***********************************************************************************************************************/
/* MEDIA QUERIES */
/***********************************************************************************************************************/

/* http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32 */

$phone-max-width: 450px;
$tablet-max-width: 768px;

@mixin respond-to($media) {
    @if $media == phone {
        @media only screen and (max-width: $phone-max-width) {
            @content;
        }
    }
    @else if $media == phone-tablet {
        @media only screen and (max-width: $tablet-max-width) {
            @content;
        }
    }
    @else if $media == tablet {
        @media only screen and (min-width: $phone-max-width + 1) and (max-width: $tablet-max-width) {
            @content;
        }
    }
    @else if $media == desktop {
        @media only screen and (min-width: $tablet-max-width + 1) {
            @content;
        }
    }
}



@mixin retinise($file, $type, $width, $height) {
    background-image: url("../img/" + $file + "." + $type);

    @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
        & {
            background-image: url("../img/" + $file + "-2x." + $type);
        }
    }
}




/* https://css-tricks.com/snippets/css/cross-browser-opacity/ */
@mixin opacity($opacity) {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity * 100)";
    /* IE 5-7 */
    filter: alpha(opacity=$opacity * 100);
    /* Netscape */
    -moz-opacity: $opacity;
    /* Safari 1.x */
    -khtml-opacity: $opacity;
    opacity: $opacity;
}

@mixin animation($animation) {
    -moz-animation: $animation;
    -o-animation: $animation;
    -webkit-animation: $animation;
    animation: $animation;
}

@mixin transform($transform) {
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

@mixin transition($transition) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin word-wrap() {
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

@mixin ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin cover() {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin hyphens($hyphens: auto) {
    -moz-hyphens: $hyphens; /* Firefox 6+ */
    -webkit-hyphens: $hyphens; /* Safari 5.1+, IOS Safari 4.3+ */
    -ms-hyphens: $hyphens; /* IE 10+ */
    hyphens: $hyphens;
}

@mixin centre() {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}


@mixin unselectable() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
