$base-font-size: 16;
/* http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32 */
$phone-width: "only screen and (max-width: 400px)";
$tablet-width: "only screen and (min-width: 401px) and (max-width: 800px)";