@{
	ViewBag.Title = "Cookies";
}

<article>
	<h1>Cookies</h1>

	<h2>What is a cookie?</h2>
	<p>When you visit a website, the site may choose to save a cookie on your hard drive or in your computer's memory. The cookie itself is simply a plain text file (.txt) that the site uses to temporarily store information. Most cookies are used purely to help the site work. For example, when you log in, the site needs to save a cookie on your hard drive so that it can check that you are still logged in.</p>
	<p>A cookie can only store basic text. It cannot run code or contain viruses. Sites that store cookies on your device can only read and write data to the cookies that they have created. They do not have access to any other part of your system or any cookies created by other sites.</p>
	<p>There are two types of cookie: <dfn>session only cookies</dfn> and <dfn>persistent cookies</dfn>. Session only cookies are stored in your computer's memory and are not saved to the hard drive. They are deleted when your browser is closed down or after your computer has been left idle for a specified amount of time (usually 20-30 minutes). Persistent cookies are saved to your hard drive and do not get deleted when your browser closes. They remain on your hard drive and only get deleted when they reach their expiry date (unless you manually delete them first!).</p>
	<p>You can delete cookies or block sites from saving cookies on your browser at any time. You just need to go into your browser settings and select the appropriate option. Remember: if you block cookies, then sites you visit may not work properly.</p>
	<p><a href="http://www.aboutcookies.org/" target="_blank">For more information about cookies, click here</a>.</p>

	<h2>What is this site's cookie policy?</h2>
	<p>Cookies are used on this site to provide more functionality. If your browser is not set to accept cookies, then you may find you cannot log in and some of the pages do not work properly.</p>
	<p>This site does not use tracking cookies or use cookies to collect personal data in any way.</p>
	<p>This site also uses <dfn>Google Analytics</dfn>, which generates detailed statistics about visits to this website. It includes things like the number of visitors, the types of browsers used, etc. This information is used purely for internal analysis and is not sent on to any 3rd party, unless required to do so by law. <a href="http://www.google.co.uk/intl/en/policies/privacy/" target="_blank">Details of Google's Privacy Policy can be found here</a></p>

</article>
