@{
    ViewBag.Title = "Help";
}

<article>
	<h1>Help</h1>
	<ul>
		<li>@Html.ActionLink("Cookies", "cookies")</li>
		<li>@Html.ActionLink("Enable Cookies", "enable-cookies")</li>
		<li>@Html.ActionLink("Enable JavaScript", "enable-javascript")</li>
	</ul>
</article>

