@using MVC.Core.Configuration
@using MVC.WebUI.Helpers

@Html.Breadcrumb()

<section id="email" class="email alert success">
    <h1>Thank you!</h1>
    <p>You have successfully sent a message to @WebsiteConfig.WebsiteUrl.</p>
    <p>You should receive a confirmation email shortly.</p>
</section>
